# Entornos virtuales
env_puentedata/
venv/
.env

# Datos (NUNCA subir al repositorio)
data/raw/*
data/processed/*
*.csv
*.xlsx
*.xls
*.db
*.sqlite

# Archivos de caché de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Archivos de sistema operativo (Mac)
.DS_Store